Available template data:
{{ data | pprint }}

set system host-name {{ data.name }}

set system root-authentication encrypted-password "{{ data.secrets.root_hash }}"

{%if data.role == "leaf" %}
    {% for community_name, community_value in data["communities"]["std_communities"].items() %}
set policy-options community {{community_name}} members {{community_value}}
    {% endfor %}
{% endif %}